extends layout

block content
  ul
   li
    strong Neil&nbsp;
    span has helped&nbsp;
    strong Carlos&nbsp;
    i Help me get to the relief center by boat
   li
    strong Martin&nbsp;
    span has helped&nbsp;
    strong Stephanie&nbsp;
    i Solve a murder
   li(style="color:blue")
    strong Martin&nbsp;
    span has been notified of &nbsp;
    strong Carlos's problem
    i I need a water pump

