doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  span=title

    ul
    li(class=(title === 'Home' ? 'active' : ''))
      a(href='#') Home
    li(class=(title === 'Tasks' ? 'active' : ''))
      a(href='#') Tasks
    li(class=(title === 'Users' ? 'active' : ''))
      a(href='#') Users

block content
