doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="/javascripts/site.js")
  body

  nav(class="navbar navbar-default")
    div(class="container-fluid")
      div(class="navbar-header")
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">D-Rel</a>
      div(class="collapse navbar-collapse",id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li(class=(title === 'Home' ? 'active' : ''))
            a(href='/#') Home
          li(class=(title === 'Tasks' ? 'active' : ''))
            a(href='/tasks') Task
          li(class=(title === 'Assign' ? 'active' : ''))
            a(href='/assign') Assign
          li(class=(title === 'Users' ? 'active' : ''))
            a(href='/users') Users

div D-Rel is a suite of applications to quickly get resources to where they're needed, by moving people with needed skills to places where their skills are needed to be utilised by the people asking for help by someone with those skills&trade;.
block content

br(clear="both")
<hr/>
div(class="footer-style")
  div &nbsp;&nbsp;D-Rel is powered by
    span &nbsp;
    img(src="/images/pusher_logo.png", height="40px")
    span and
    img(src="/images/what3words_logo.png", height="40px")
