//
   Created by neilhighley on 05/09/2015.
extends layout
block content
   h1= title
   ul(class="task-list")
      each tsk in tasks
         li
            div
               strong #{tsk.name}
               br
               span Location = #{tsk.location}
            div These skills are required for this task:
              ul
                 each tskskill in tsk.skills_required
                    li= tskskill
