extends layout
block content

   ul(class="helper-list")
      each helpr in helpers_available
         li
            div(class="helper-name") #{helpr.name}
            div(class="helper-desc") #{helpr.description}
            div(class="helper-loc")
                div
                    img(src="/images/what3words_pin-red.png", height="25px")
                    a(href="/location/#{helpr.location}")  #{helpr.location}